.jumbotron-fluid {
  background-image: url("https://www.healthline.com/hlcmsresource/images/topic_centers/Food-Nutrition/Coffee1-banner.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.btn-primary {
  background-color: green;
  border-color: whitesmoke;
}

.btn-primary  a:hover {
  color: greenyellow;
}

h1.display-4 {
 color: navajowhite;
  text-shadow: 1px 1px green;
  
}

p.lead {

}

.container p {

}

