.jumbotron-fluid {
  background-image: url("https://www.healthline.com/hlcmsresource/images/topic_centers/Food-Nutrition/Coffee1-banner.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

